---
/**
 * This section is for adding your social media links.
 *
 * 1. Add your social media links: Replace 'xxx' with your username for each social media platform.
 * 2. Add more links: If you want to include more social media platforms, replicate the existing pattern and update the `Type` enum accordingly.
 * 3. Adjust the order: You can change the order of the social media icons by rearranging the objects.
 * 4. Customize icon colors: To change the color of the icons, refer to the Tailwind CSS color classes. Visit: https://tailwindcss.com/docs/customizing-colors
 *
 */

enum Type {
	linkedIn = 'LinkedIn',
	gitHub = 'GitHub',
	twitter = 'Twitter',
	instagram = 'Instagram',
	email = 'Email',
	titok = 'TikTok',
	soundcloud = 'SoundCloud',
	youtube = "YouTube",
	spotify = "Spotify",
	beatport = "Beatport"
}

const socials = [
	{
		name: Type.instagram,
		url: 'https://www.instagram.com/_matteomancino_',
		icon: 'assets/svg/icons/instagram.svg',
		color: 'bg-yellow-400',
	},
	{
		name: Type.titok,
		url: 'https://www.tiktok.com/_matteomancino_',
		icon: 'assets/svg/icons/tiktok.svg',
		color: 'bg-pink-400',
	},
	{
		name: Type.soundcloud,
		url: 'https://soundcloud.com/matteomancinodeejay',
		icon: 'assets/svg/icons/soundcloud.svg',
		color: 'bg-orange-400',
	},
	{
		name: Type.youtube,
		url: 'https://www.youtube.com/@matteomancinodeejay',
		icon: 'assets/svg/icons/youtube.svg',
		color: 'bg-red-400',
	},
	{
		name: Type.spotify,
		url: 'https://open.spotify.com/user/matteo701',
		icon: 'assets/svg/icons/spotify.svg',
		color: 'bg-green-400',
	},
	{
		name: Type.beatport,
		url: 'https://www.beatport.com/account/profile',
		icon: 'assets/svg/icons/beatport.svg',
		color: 'bg-lime-400',
	},
	{
		name: Type.email,
		url: 'dj@matteomancino.it',
		icon: 'assets/svg/icons/email.svg',
		color: 'bg-gray-400',
	},
];

const getColor = (type: Type) => socials.find((social) => social.name === type)?.color;
const getClass = (type: Type) =>
	`scale-100 rounded-full ${getColor(
		type,
	)} transition duration-300 hover:scale-110 animate-zoom-in`;
---

<div
	class="grid grid-cols-1 place-content-center place-items-center text-black"
>
	<p
		class="text-sm font-normal tracking-wide md:text-base animate-fade-in duration-300"
	>
		<span class="text-black-100">follow me on</span>
	</p>
</div>

<div class="grid grid-cols-7 gap-1 md:grid-flow-col md:gap-3 duration-500">
	{
		socials.map((social) => {
			const href = social.name === Type.email ? `mailto:${social.url}` : social.url;
			return (
				<a aria-label={social.name} class={getClass(social.name)} href={href} target="_blank" rel="nofollow noopner">
					<img class="size-10 p-3 md:size-14" src={social.icon} alt={social.name} />
				</a>
			);
		})
	}
</div>
